<body>

<h2>Main Security</h2>

<table style="border:1px solid black">

		<tr style="border:1px solid black">
			<td style="border:1px solid black">Card</td>
			<td style="border:1px solid black">Given Name</td>
			<td style="border:1px solid black">Surname</td>
			<td style="border:1px solid black">Status</td>
			<td style="border:1px solid black">Change Status</td>
		</tr>

	{% for employee in employees %}

	<tr style="border:1px solid black">
		<td style="border:1px solid black">
			<a href="/common/employee_events/{{employee.id}}", target="_blank">
				{{employee.card_number.designation}}
			</a>
		</td>
		<td style="border:1px solid black">{{employee.given_name}}</td>
		<td style="border:1px solid black">{{employee.surname}}</td>
		<td style="border:1px solid black">
			{% if employee.is_clocked_in %}
				Clocked in
			{% else %}
				Clocked out
			{% endif %}
			at {{employee.last_clockinout_time}}
		</td>


		<td style="border:1px solid black">
			<a href="flip_clocked_in_status/{{employee.id}}">
				{% if employee.is_clocked_in %}
					Clock Out
				{% else %}
					Clock In
				{% endif %}
			</a>
		</td>

	</tr>

	{% endfor %}

</table>
