<body>

<h2>{{employee.given_name}} {{employee.surname}}</h2>

<p><strong>Card number:</strong>{{employee.card_number.designation}}</p>

<table>

<tr style="border:1px solid black">

	<td style="border:1px solid black">Date</td>
	<td style="border:1px solid black">Event</td>
	<td style="border:1px solid black">Time</td>
	<td style="border:1px solid black">Edit</td>

</tr>

{% for event in employee_events %}

<tr style="border:1px solid black">

	<td style="border:1px solid black">{{event.timestamp.date}}</td>
	<td style="border:1px solid black">{{event.event_type.name}}</td>
	<td style="border:1px solid black">{{event.timestamp.astimezone.time}}</td>
	<td style="border:1px solid black">
		<a href="/admin/common/event/{{event.id}}/change/" target="_blank">
			Edit
		</a>
	</td>

</tr>

{% endfor %}

</table>

</body>
